.MovieCarousel{
    width: 80%;
   margin-left: 10%;
   background-color: purple;
}
.tMovies{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: purple;
}
.topcards{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: space-between;
    background-color: purple;
    
}
.bottomcards{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.body{
    background-color: purple;
}
.btn-primary{
        background-color: darkmagenta;
}
.wlPCarTop{
   width: 60%; 
   margin-left: 20%;
   margin-right: 20%;
}
.wlPCards{
   
    display: flex;
    justify-content: space-evenly;
    
}
.wlC2{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px; 
}

